{% extends 'base.html' %}



{% block content %}
<div class="backg-img4">
<div class="land-main container home-main" >
   <div class="row justify-content-center mt-5 " >
    
        <div class="col-4 text-justify ">
            <div class="pt-5">
            <div class="pt-5"> 
                <h1 class="text-center font-weight-light">Easy, Simple Attendance System</h1>
                <p class="text-center font-weight-light mb-0">Register students, take attendance, view attendance information and other student data. Get the data presented in an organised format.
                </p>
                
                {% if user.is_authenticated %}
                <p class="text-center font-weight-light"> Thanks for signing in and welcome, {{user.first_name|capfirst}}</p>
                <div class="row justify-content-center ">
                        <a href="{% url 'take_attendance_search'%}" class="btn btn-secondary font-weight-light ">Get Started</a>
                </div>  
                {% else %}
                <p class="text-center font-weight-light"> Get started by signing in. You won't be able to use this system if you have not.</p>
                <div class="row justify-content-center ">
                    <a href="{% url 'login'%}" class="btn btn-secondary font-weight-light ">Go Sign In</a>
                </div>
                {% endif %}
                    
            </div>
            </div>
        </div>
        <div class="col-8">
            <img src="../static/images/landing_1.png" alt="" class="img-fluid img-absolute">
        </div>
        
   </div>

    
</div>

<div id="section_1" class=''>
<div class="land-main2 container home-main">
    <div class="row justify-content-center mt-5 pt-3">
        <div class="col-8">
            <img src="../static/images/Laptop_content_full.png" alt="" class="img-fluid img-absolute">
        </div>
        
        <div class="col-4 text-justify pt-3">
                <div class="pt-5">
                <div class="pt-5"> 
                    <h1 class="text-center font-weight-light">Easy, Simple Attendance System</h1>
                    <p class="text-center font-weight-light mb-0">For recording student data, taking attendance quickly and getting data in an organized manner.
                    </p>
                    {% if user.is_authenticated %}
                <p class="text-center font-weight-light"> Thanks for signing in and welcome, {{user.first_name|capfirst}}</p>
                <div class="row justify-content-center ">
                        <a href="{% url 'home'%}" class="btn btn-secondary font-weight-light ">Get Started</a>
                </div>  
                    {% else %}
                <p class="text-center font-weight-light"> Get started by signing in. You won't be able to use this system if you have not.</p>
                <div class="row justify-content-center ">
                    <a href="{% url 'login'%}" class="btn btn-secondary font-weight-light ">Go Sign In</a>
                </div>
                    {% endif %}
                        
                </div>
            </div>
        </div>    
        
    </div>
    
</div>
<div>
    
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 1440 126" style="enable-background:new 0 0 1440 126;" xml:space="preserve" >
   <style type="text/css">
       .st0{fill:rgb(119, 124, 131);}
   </style>
   <title>Rectangle 3</title>
   <desc>Created with Sketch.</desc>
   <path class="fsvg" d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"/>
   </svg>
</div>

<div class="footer_text">
   <p class="font-weight-lighter">TechCreek | Attendance</p> 
</div>

<p class="footer_sub1">
    <i class="fa fa-map-marker" aria-hidden="true"></i> Port Harcourt-Aba Expressway opposite Pleasure Park, Airforce Junction, Port Harcourt.
</p>

<p class="footer_sub2">
    <i class="fa fa-phone" aria-hidden="true"></i> 0903 000 3180
</p>

<div class="footer_sub3">
    <a href="https://www.facebook.com/techcreekng/">
        <i class="fa fa-facebook-square" aria-hidden="true" style="color: #dfdfdf"></i>
    </a>
</div>

<div class="footer_sub4">
    <a href="https://twitter.com/techcreekng?lang=en">
        <i class="fa fa-twitter-square" aria-hidden="true" style="color: #dfdfdf"></i>
    </a>
</div>

<div class="footer_sub5">
    <a href="https://www.instagram.com/techcreekng/">
        <i class="fa fa-instagram" aria-hidden="true" style="color: #dfdfdf"></i>
    </a>
</div>

<div class="footer_sub6">
        <a href="https://www.techcreek.ng">
            <i class="fa fa-home" aria-hidden="true" style="color: #dfdfdf"></i>
        </a>
</div>

<div class="footer_sub7">
    <p class="">©{% now "Y" %} TechCreek. All Rights Reserved.</p> 
</div>


<!-- <div class="container pt-5">
        <div class="row justify-content-center mt-5 pb-5">
         
             <div class="col-4 text-justify">
                 <div class="pt-5">
                 <div class="pt-5"> 
                     <h1 class="text-center font-weight-light">Easy, Simple Attendance System</h1>
                     <p class="text-center font-weight-light mb-0">For recording student data, taking attendance quickly and getting data in an organized manner.
                     </p>
                     
                     {% if user.is_authenticated %}
                     <p class="text-center font-weight-light"> Thanks for signing in and welcome, {{user.first_name|capfirst}}</p>
                     <div class="row justify-content-center ">
                             <a href="{% url 'home'%}" class="btn btn-secondary font-weight-light ">Get Started</a>
                     </div>  
                     {% else %}
                     <p class="text-center font-weight-light"> Get started by signing in. You won't be able to use this system if you have not.</p>
                     <div class="row justify-content-center ">
                         <a href="{% url 'login'%}" class="btn btn-secondary font-weight-light ">Go Sign In</a>
                     </div>
                     {% endif %}
                         
                 </div>
                 </div>
             </div>
             <div class="col-8">
                 <img src="../static/images/landing_3.png" alt="" class="img-fluid img-absolute">
             </div>
             
        </div>
     
         
     </div>

</div>      -->
{% endblock content %}

