{% extends 'base.html' %}


{% block content %}
<div class="container-fluid" id="cn22">
    <div class="row pt-4">    
        <div class="col-9">
            <h1 class="text-justify mb-1" id="resp_text_7">Students Registered on the System</h1>
                <p class="text-justify font-weight-light mb-0" id="resp_text_4">Below are the students registered on this attendance system. 
                    To go to each students profile click on their unique number or follow the 'view more link'
                    You can filter by using the area to the left
                </p>
        </div> 
    </div>   
    <form method="get">
                  
        <div class="form-row">
                <div class="form-group col-2">
                    <label for="filter">Program Version</label>
                    <select class="form-control" name="filter" id="filter">
                        
                        {% for a in versions %}
                        <option>{{a.program_version}}</option>
                        
                        {% endfor %}
                            
                      
                    </select>
                  
                </div>
                <div class="form-group col-2">
                        <label for="orderby">Order By</label>
                        <select class="form-control" name="orderby" id="orderby">
                            <option selected="true"
                            disabled="disabled" value = "none">Choose option</option>
                            <option>Student ID</option>
                            <option>Name</option>
                            <option>Registration Date</option>
                            <option>Times Present</option>   
                          
                        </select>
                </div>
                <div class="form-group col-1 pt-4 mt-2">
                    
                    <input class="btn btn-primary" type="submit" value="Submit">
                </div>
        </div>
    </form>
    
            
    <div class="table">
        <table class="table-responsive table-bordered table-striped table-hover" id="hgh2">    
            
            <thead>
                <tr>
                    <th scope="col" style="min-width: 6.7rem" id="hgh2">Student ID</th>
                    <th scope="col" style="min-width: 16rem" id="hgh2">Student</th>
                    <th scope="col" style="min-width: 7rem" id="hgh2"> Times Present</th>
                    <th scope="col" style="min-width: 7rem" id="hgh2"> Percentage Attendance</th>

                    {% for b in a %}
                    
                        <th scope="col" id="hgh2">Day {{forloop.counter}} {{b.date | date:"SHORT_DATE_FORMAT"}}</th>
                    {% endfor %}
                    
                </tr>
            </thead>
                
                
            <tbody>
                        
                {% for s in student %}
                    
                    {% if s.attendance.all %}
                          
                  <tr>

                        <th scope="col">{{s.pk}}</th>
                        <th scope="col" ><a href="{% url 'student_detail' s.id %}" class="hgh2"> {{s.surname}} {{s.firstname}} {% if s.middlename %} {{s.middlename}} {% endif %}</a></th>
                            
                        <th scope="col" id="hgh2">{{s.roll_no}} out of {{total}}</th>
                        <th scope="col" id="hgh2">{{s.get_percentage}} %</th>
                        {% for a in s.attendance.all %}
                        
                        {% if a.present_state == True %}
                        <td class="" style="min-width: 6.7rem"><i class="fa fa-check " aria-hidden="true"></i></td>
                        {% else %}
                        <td style="min-width: 6.7rem"><i class="fa fa-times" style="color: rgb(252, 71, 71)" aria-hidden="true"></i></td>    
                        {% endif %}
                            
                        
                        
                        {% endfor %}
                  </tr>
                    {% endif %}
                {% endfor %}  
                
            
            
            </tbody>
    
    
    
        </table>
    </div>

</div>


{% endblock content %}
    

